.header{
    padding: 1rem;
    background-color: blue;
}

h1{
    color: black;
    font-size: 3rem;
}

ul{
    list-style: none;
}

li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}